<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>An Ajax-Flask Demo</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
</head>

<body>
  <h1>An Ajax-Flask Demo</h1>
  <hr>
  <h3>TEST</h3>
  <button type="button" id="button1">Test1</button>
  <button type="button" id="button2">Test2</button>
  <button type="button" id="button3">Test3</button>
  <button type="button" id="button4">Test4</button>
  <button type="button" id="button5">Test5</button>
  <button type="button" id="button6">Test6</button>
  <button type="button" id="button7">Test7</button>
  <button type="button" id="button8">Test8</button>
  <hr>
  <h3>Registration</h3>
  <div>
  <form action="/register" method='post'>
    Username: <br><input type="text" name="Username" value="" id="UN"><br>
    Password: <br><input type="text" name="Pwd" value="" id="PWD"><br>
    <input type="submit" value="Submit">
  </form>
  </div>
  <hr>
  <div class="">
      <a href="/upload">Proceed to video upload page</a>
  </div>
</body>


<script>
  $(document).ready(function(){
    $("#button1").click(function(){
      alert("Test1!");
      console.log("Test1 alerted.")
    });

    $("#button2").click(function(){
      $.get("/test2", function(data) {
        alert(data);
        console.log("Test2 alerted.");
      });
    });

    $("#button3").click(function(){

    });
  });
</script>

</html>
